<h2>An error occured! There was an error with your request</h2>
<h4>Please contact us on contact-us@gmail.com</h4>
<hr />
<h3>Exception detauls</h3>
<div class="alert alert-danger">
    <h5>Exception path:</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception message:</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>


<div class="alert alert-danger">
    <h5>Exception stack trace:</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>